metrolizavenv/
input/
dist/
build/
modules/__pycache__
main.spec
modules/export_window.py
gear_report_parser.py
__pycache__/version_date.cpython-39.pyc
metroliza.dist/
metroliza.build/
metroliza.onefile-build/
testing.py
metroliza.log
__pycache__/VersionDate.cpython-39.pyc
license.key
# Google API local secrets
credentials.json
token.json
*.credentials.json
*.token.json
